.Main_container{

    width: 100%;
    height: 500px;
  

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.total{
    margin-top: 5%;
}

.items{
    
   

    width: 83%;
    height: 80%;
   
    overflow: auto;


}

.item{
    padding: 10px;

    border-bottom: 5px solid rgb(180, 162, 162);
  
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.image_container {

    
        width: 155px;
        height: 125px;
    
}
.image_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.empty_img{
    width: 60%;
    height: 70%;

}
.empty_img img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
