/* html, body {
    height: 120%;
    margin: 0;
  } */
  
  .BACKGROUND_IMG {
    background-image: url("../images/pexels-mnz-1598505\ \(1\).jpg");
    background-size: cover;
    height: 800px;
    margin: 0%;
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    
  }
  h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: white;
  }
  
  h6 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: white;
  }
  
  button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 1rem;
  }
  
  button:hover {
    background-color: #111;
  }
  