.admin-products-container {
    display: flex;
    flex-direction: column;
   
  }
  
  .admin-products-table-container {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    /* background-color: black; */
    overflow: auto;
  }
  
  .admin-products-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .admin-products-table th,
  .admin-products-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .admin-product-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  